li {
  color: black;
  border: 2px solid #0e06f1;
  width: 300px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  z-index: 0;
  background-color: white;
  white-space: normal;
  max-width: 300px;
}
.btn {
  background-color: #f50a2d;
  border: none;
  color: white;
  padding: 10px;
  z-index: 5;
  text-decoration: none;
}
.todo_list {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  max-width: 400px;
}

ul {
  padding: 0;
  align-items: center;
}
.li-active {
  text-decoration: line-through;
}
.bodyTheme {
  background-color: black;
}
